<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Rick's RollDev Startpage</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto);.grid-2{max-width:70rem;margin:0 auto;display:grid;grid-template-columns:repeat(2,1fr);height:50vh;align-items:center}body{margin:0;padding:0;font-family:Roboto,sans-serif;background-color:#101214;color:#7a7c80}.white,h2{color:#fff}a{color:#7a7c80;text-decoration:none}.section-1{text-align:center}.section-1 p,.section-2 p{font-size:1.1rem;padding-bottom:10px;margin:0}.section-1 h2,.section-2 h2{font-size:1.7rem;margin-bottom:10px}.section-1 a{font-size:1.5rem;padding:10px}.section-2 a{display:block;padding:5px 5px 5px 0;font-size:1.2rem}.section-2 a:hover{font-size:1.3rem;color:#fff;cursor:pointer;transition:.2s}.section-1 a:hover{color:#fff;cursor:pointer;transition:.3s}.white:hover{position:relative;padding-left:10px}@media (max-width:780px){.grid-2{grid-template-columns:1fr}.section-1,.section-2{padding:2rem 0 0}.section-2{text-align:center}}
    </style>
</head>
<body>
<div class="grid-2">
    <div class="section-1">
        <i class="fas fa-code fa-5x white"></i>
        <h2>Rick's RollDev</h2>
        <p>Startpage.</p>
    </div>
    <div class="section-2">
        <h2>Main Services</h2>
        <a href="https://portainer.${ROLL_SERVICE_DOMAIN}" target="_blank">Portainer Container Manager</a>
        <a href="https://traefik.${ROLL_SERVICE_DOMAIN}" target="_blank">Traefik Dashboard</a>
        <a href="https://mailhog.${ROLL_SERVICE_DOMAIN}" target="_blank">Mailhog Emails</a>
        <a href="https://dnsmasq.${ROLL_SERVICE_DOMAIN}" target="_blank">DnsMasq UI</a>
    </div>
</div>
</body>
</html>
