name: Docker Image MariaDB DEV
on:
  schedule:
    - cron: "0 6 * * *" # 6 AM Daily
  push:
    paths:
      - images/.trigger
      - images/mariadb/**
      - .github/workflows/*mariadb*

jobs:
  mariadb:
    name: MariaDB
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version:
          - "10.0"
          - "10.1"
          - "10.2"
          - "10.3"
          - "10.4"
          - "10.5"
          - "10.6"
          - "10.7"
          - "10.8"
          - "10.9"
        include:
          - version: "10.10"
            modifier: "-rc"

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.ACT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ !env.ACT }}

      - uses: docker/build-push-action@v3
        with:
          context: images/mariadb
          platforms: linux/amd64,linux/arm64
          build-args: MARIADB_VERSION=${{ matrix.version }}
          push: ${{ github.ref == 'refs/heads/main' && !env.ACT }}
          tags: docker.io/rollupdev/mariadb:${{ matrix.version }}
        if: ${{ !env.ACT && github.ref == 'refs/heads/main'}}

      - uses: docker/build-push-action@v3
        with:
          context: images/mariadb
          platforms: linux/amd64,linux/arm64
          build-args: MARIADB_VERSION=${{ matrix.version }}${{ matrix.modifier }}
          push: ${{ github.ref == 'refs/heads/alpha' && !env.ACT }}
          tags: ghcr.io/${{ github.repository_owner }}/rolldev-mariadb:${{ matrix.version }}${{ matrix.modifier }}
        if: ${{ !env.ACT && github.ref == 'refs/heads/alpha'}}
